/*
Syntax error: Invalid CSS after "...da_regular.css"": expected selector or at-rule, was "$site_title_fon..."
        on line 3 of tresmetros/custom.scss

1: // Fonts
2: @import "fonts/banda_regular.css"
3: $site_title_font_family: "Banda Regular", "Palatino Linotype", "Book Antiqua", Palatino, serif;
4: 
5: // Colors
6: $pure_white: #fff;
7: $white: rgb(243,243,244);
8: $cream: rgb(255, 252, 223);

Backtrace:
tresmetros/custom.scss:3
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/scss/parser.rb:1010:in `expected'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/scss/parser.rb:956:in `expected'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/scss/parser.rb:28:in `parse'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/engine.rb:326:in `_to_tree'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/engine.rb:299:in `_render'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/engine.rb:246:in `render'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:200:in `each'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...da_regular.css\"\": expected selector or at-rule, was \"$site_title_fon...\"\A         on line 3 of tresmetros/custom.scss\A \A 1: // Fonts\A 2: @import \"fonts/banda_regular.css\"\A 3: $site_title_font_family: \"Banda Regular\", \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\A 4: \A 5: // Colors\A 6: $pure_white: #fff;\A 7: $white: rgb(243,243,244);\A 8: $cream: rgb(255, 252, 223);"; }
