/*
Syntax error: File to import not found or unreadable: fonts/airfactory_stencil/aiAirFactoryRegularss.
              Load paths:
                /Users/music/Sites
                /Users/music/Sites/tresmetros
        on line 3 of tresmetros/custom.scss

1: // Fonts
2: @import "fonts/banda_regular/banda_regular.css";
3: @import "fonts/airfactory_stencil/aiAirFactoryRegularss";
4: 
5: $serif_title_font_family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
6: $sans_serif_content_font_family: Tahoma, Verdana, Helvetica, sans-serif;
7: $helvetica_priority: "Helvetica Neue", Helvetica, Arial, sans-serif;;
8: 

Backtrace:
tresmetros/custom.scss:3
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/import_node.rb:42:in `import'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/engine.rb:299:in `_render'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/engine.rb:246:in `render'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:200:in `each'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/music/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: fonts/airfactory_stencil/aiAirFactoryRegularss.\A               Load paths:\A                 /Users/music/Sites\A                 /Users/music/Sites/tresmetros\A         on line 3 of tresmetros/custom.scss\A \A 1: // Fonts\A 2: @import \"fonts/banda_regular/banda_regular.css\";\A 3: @import \"fonts/airfactory_stencil/aiAirFactoryRegularss\";\A 4: \A 5: $serif_title_font_family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\A 6: $sans_serif_content_font_family: Tahoma, Verdana, Helvetica, sans-serif;\A 7: $helvetica_priority: \"Helvetica Neue\", Helvetica, Arial, sans-serif;;\A 8: "; }
