@import url(fonts/banda_regular/banda_regular.css);
@import url(fonts/airfactory_stencil/airfactory_stencil.css);
html, body {
  height: 100%;
  color: inherit;
  background: #f3f3f4; }

.clear {
  clear: both; }

.container-fluid {
  border: 1px #231f20 solid;
  border-top: 0;
  border-bottom: 0;
  height: 100%;
  min-height: 100%;
  color: inherit;
  background: #f3f3f4; }
  .container-fluid .header {
    color: inherit;
    background: #d9efd6 url("new_york_heading.png") no-repeat left bottom;
    position: relative;
    padding-bottom: 3.6em;
    border-bottom: 0.2em #231f20 solid; }
    .container-fluid .header .site_title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: left;
      margin: 0;
      border: 1px #231f20 solid;
      border-bottom: none;
      font-size: 3em;
      font-family: "AirFactoryRegular", "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-weight: 100;
      letter-spacing: 0.5em;
      line-height: 1.2em;
      color: #f3f3f4;
      background: rgba(0, 0, 0, 0.5);
      border-top: none; }
      .container-fluid .header .site_title a {
        color: inherit;
        background: transparent; }
        .container-fluid .header .site_title a:hover {
          text-decoration: none; }
    .container-fluid .header .header_nav {
      float: right;
      list-style: none;
      text-align: right;
      margin: 0 -1px 0 0; }
      .container-fluid .header .header_nav li {
        font-size: 1.25em;
        line-height: 1.25em;
        letter-spacing: 0.1em;
        margin-bottom: 0.5em;
        font-family: "BandaRegularRegular", "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-weight: bold; }
        .container-fluid .header .header_nav li a {
          padding: 0 0.5em;
          border: 1px transparent solid;
          color: #f3f3f4;
          background: rgba(0, 0, 0, 0.5); }
          .container-fluid .header .header_nav li a:hover {
            text-decoration: none;
            color: #231f20;
            background: #f3f3f4;
            border: 1px #231f20 solid; }
    .container-fluid .header .search {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.5em 0.25em;
      text-align: right; }
      .container-fluid .header .search form {
        margin: 0; }
        .container-fluid .header .search form .search_input {
          margin: 0 0.75em 0 0;
          font-family: Tahoma, Verdana, Helvetica, sans-serif; }
        .container-fluid .header .search form input[type="submit"] {
          font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          letter-spacing: 0.1em; }
  .container-fluid div.content_container {
    color: inherit;
    background: #f3f3f4;
    font-size: 1em; }
    .container-fluid div.content_container .content, .container-fluid div.content_container .post {
      padding: 3em; }
    .container-fluid div.content_container .content .post {
      height: auto;
      border: 1px #231f20 solid;
      line-height: 1.75em;
      margin-bottom: 4em;
      -moz-box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
      color: inherit;
      background: white; }
      .container-fluid div.content_container .content .post .date {
        display: inline-block;
        color: #231f20;
        background: #ccc7c7;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 1.75em;
        padding: 0.25em 0.5em;
        margin-left: -0.5em;
        margin-bottom: 0.5em;
        vertical-align: middle; }
        .container-fluid div.content_container .content .post .date .day {
          display: inline-block;
          text-align: justify;
          font-size: 1em;
          letter-spacing: 0.1em;
          margin-bottom: 0.1em;
          font-family: Futura; }
        .container-fluid div.content_container .content .post .date .month_year_row {
          display: inline-block;
          text-transform: lowercase; }
      .container-fluid div.content_container .content .post .title {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-weight: 400;
        font-size: 2em;
        line-height: 1.1em;
        letter-spacing: 0.1em;
        padding: 0.25em 0 0.25em 0.5em;
        margin: 0 -0.5em;
        color: #f3f3f4;
        background: #a20339;
        border: 1px #231f20 solid;
        -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3); }
        .container-fluid div.content_container .content .post .title a {
          color: inherit;
          background: inherit; }
          .container-fluid div.content_container .content .post .title a:hover {
            color: #ccc7c7;
            backround: inherit;
            text-decoration: none; }
      .container-fluid div.content_container .content .post .byline {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.25em;
        font-weight: 100;
        margin: 0.25em 0;
        letter-spacing: 0.1em;
        color: inherit;
        background: inherit; }
        .container-fluid div.content_container .content .post .byline .author_name {
          font-weight: 400; }
      .container-fluid div.content_container .content .post .post_content {
        padding: 0;
        font-family: Tahoma, Verdana, Helvetica, sans-serif; }
      .container-fluid div.content_container .content .post .post_footer {
        margin-top: 0.5em; }
        .container-fluid div.content_container .content .post .post_footer a.comments_link {
          color: #a20339; }
        .container-fluid div.content_container .content .post .post_footer .social_button {
          display: inline-block; }
          .container-fluid div.content_container .content .post .post_footer .social_button.tweet iframe {
            width: 80px;
            margin-bottom: -3px; }
      .container-fluid div.content_container .content .post #comments {
        border-top: 0.1em #4b4347 solid;
        margin-top: 0.75em; }
        .container-fluid div.content_container .content .post #comments .comment {
          border: 0.1em #4b4347 dotted;
          margin-top: 1em;
          padding: 1em;
          color: inherit;
          background-color: #f3f3f4; }
          .container-fluid div.content_container .content .post #comments .comment h3, .container-fluid div.content_container .content .post #comments .comment p {
            margin: 0; }
          .container-fluid div.content_container .content .post #comments .comment h3 {
            line-height: 1.5em;
            font-size: 0.9em;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bold;
            letter-spacing: 0.1em; }
          .container-fluid div.content_container .content .post #comments .comment p.comment_datetime {
            font-size: 0.9em;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
          .container-fluid div.content_container .content .post #comments .comment div.comment_text {
            color: inherit;
            background: white;
            padding: 0.5em;
            font-family: Tahoma, Verdana, Helvetica, sans-serif; }
      .container-fluid div.content_container .content .post .comment_submission {
        margin-top: 2em;
        padding: 0.5em 1em;
        border: 0.1em #4b4347 dotted;
        color: inherit;
        background: #f3f3f4; }
        .container-fluid div.content_container .content .post .comment_submission h2 {
          font-size: 1.25em;
          line-height: 1.5em;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .container-fluid div.content_container .content .post .comment_submission textarea#comment-text {
          width: 25em;
          font-size: 1.25em;
          color: #231f20;
          font-family: Tahoma, Verdana, Helvetica, sans-serif; }
    .container-fluid div.content_container .content.arrow_box {
      position: relative;
      background: #f3f3f4;
      border-right: 0.2em #231f20 solid; }
    .container-fluid div.content_container .content.arrow_box:after, .container-fluid div.content_container .content.arrow_box:before {
      left: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .container-fluid div.content_container .content.arrow_box:after {
      border-color: rgba(243, 243, 244, 0);
      border-left-color: #f3f3f4;
      border-width: 0.8em;
      top: 4em;
      margin-top: -0.8em; }
    .container-fluid div.content_container .content.arrow_box:before {
      border-color: rgba(35, 31, 32, 0);
      border-left-color: #231f20;
      border-width: 1.0em;
      top: 4em;
      margin-top: -1em; }
    .container-fluid div.content_container .side_bar {
      padding: 2.25em 2em;
      height: auto;
      border-left: 0.2em #231f20 solid;
      margin-left: -2px; }
      .container-fluid div.content_container .side_bar h2 {
        font-family: "AirFactoryRegular", "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-weight: 100;
        font-size: 1.5em;
        letter-spacing: 0.2em;
        line-height: 1em;
        color: #a20339;
        background: inherit;
        padding-bottom: 0.1em;
        border-bottom: 0.1em #4b4347 solid; }
      .container-fluid div.content_container .side_bar h3 {
        font-family: "BandaRegularRegular", "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.25em;
        font-weight: 100; }
      .container-fluid div.content_container .side_bar .side_bar_nav {
        list-style: none;
        margin: 1em 0 0 0.75em;
        font-size: 1.25em;
        font-family: "AirFactoryRegular", "Palatino Linotype", "Book Antiqua", Palatino, serif; }
        .container-fluid div.content_container .side_bar .side_bar_nav a:hover {
          text-decoration: none; }
        .container-fluid div.content_container .side_bar .side_bar_nav li {
          margin-bottom: 0.5em;
          padding-bottom: 0.25em;
          font-family: "BandaRegularRegular", "Palatino Linotype", "Book Antiqua", Palatino, serif;
          color: #231f20;
          background: inherit;
          border-bottom: 1px transparent solid; }
          .container-fluid div.content_container .side_bar .side_bar_nav li:hover {
            border-bottom: 1px #a20339 solid; }
      .container-fluid div.content_container .side_bar .social_timeline_container {
        width: auto; }
